<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppFive</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PehalaServlet</display-name>
    <servlet-name>PehalaServlet</servlet-name>
    <servlet-class>com.dss.PehalaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PehalaServlet</servlet-name>
    <url-pattern>/PehalaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DusraServlet</display-name>
    <servlet-name>DusraServlet</servlet-name>
    <servlet-class>com.dss.DusraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DusraServlet</servlet-name>
    <url-pattern>/DusraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OneSuccess</display-name>
    <servlet-name>OneSuccess</servlet-name>
    <servlet-class>com.dss.OneSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneSuccess</servlet-name>
    <url-pattern>/OneSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwoSuccess</display-name>
    <servlet-name>TwoSuccess</servlet-name>
    <servlet-class>com.dss.TwoSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwoSuccess</servlet-name>
    <url-pattern>/TwoSuccess</url-pattern>
  </servlet-mapping>
</web-app>